/* Formatting and styles for ELEMENTS */
header {
  text-align: center;
  background-color: rgb(29, 29, 29);
  color: white;
  border-radius: 0;
  border-bottom: 10px solid black;
}

/* Formatting and styles for CLASSES */
.row {
  border: 4px solid black;
}

.col {
  border: 1px solid black;
}

.col-sm {
  border: 1px solid black;
}

.forecast {
  text-align: left;
  background-color: rgb(32, 32, 109);
  color: white;
  border: transparent;
  margin: 3px;
}
