/* Formatting and styles for ELEMENTS */
header {
  text-align: center;
  background-color: rgb(29, 29, 29);
  color: white;
  border-radius: 0;
  border-bottom: 10px solid black;
}

footer {
  background-color: rgb(65, 65, 65);
  position: absolute;
  bottom: 0;
  clear: both;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  color: white;
  width: 100vw;
}

/* Formatting and styles for CLASSES */
.row {
  border: 3px solid black;
}

.col {
  border: 1px solid black;
}

.col-sm {
  border: 1px solid black;
}

.forecast {
  text-align: left;
  background-color: rgb(32, 32, 109);
  color: white;
  border: transparent;
  margin: 3px;
}

/* Formatting and styles for ID tags */
#page-container {
  position: relative;
  min-height: 100vh;
}
